* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1923;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    height: 100vh;
    max-width: 2200px;
    width: 100%;
}

.card-wrapper .cards {
    height: auto;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px 100px 5px 30px;
    max-width: 400px;
    margin-left: 30px;
} 

.card-wrapper .cards .card {
    position: relative;
    height: 180px; 
    width: 120%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.card-wrapper .cards .card:hover {
    transform: translateX(50px);
    transition: transform 0.5s ease-in-out;
}

#_card1:hover {
    box-shadow: 0px 0px 20px 5px #2A3F36,
                0px 0px 25px 5px #2A3F36,
                0px 0px 50px 5px #2A3F36; 
}

#_card2:hover {
    box-shadow: 0px 0px 20px 5px #0061C3,
                0px 0px 25px 5px #0061C3,
                0px 0px 50px 5px #0061C3; 
}

#_card3:hover {
    box-shadow: 0px 0px 20px 5px #8DB6C1,
                0px 0px 25px 5px #8DB6C1,
                0px 0px 50px 5px #8DB6C1; 
}

#_card4:hover {
    box-shadow: 0px 0px 20px 5px #D284E4,
                0px 0px 25px 5px #D284E4,
                0px 0px 50px 5px #D284E4; 
}

#_card5:hover {
    box-shadow: 0px 0px 20px 5px #7D2D07,
                0px 0px 25px 5px #7D2D07,
                0px 0px 50px 5px #7D2D07; 
}

@media (max-width: 1300px){
    .card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card-wrapper .cards {
        margin: 0 auto;
        height: 60%;
        width: 100%;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(5, 1fr);
        padding: 90px 10px 20px 10px;
        bottom: 0;
        margin-top: 400px;
        max-width: 1300px;
    } 

    .card-wrapper .cards .card {
        position: relative;
        height: 400px; 
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        border-radius: 15px;
        cursor: pointer;
    }

    .card-wrapper .cards .card:hover {
        transform: translateY(-20px);
    }
}

@media (max-width: 770px) {
    .card-wrapper .cards {
        height: auto;
        gap: 15px;
        grid-template-columns: 1fr;
        padding: 40px 30px 5px 30px;
        max-width: 100%;
        margin-top: 400px;
    } 

    .card-wrapper .cards .card {
        height: 200px; 
    }

}

@media (max-width: 500px) {
    .card-wrapper .cards {
        margin-top: 400px;
    } 

    .card-wrapper .cards .card {
        height: 140px; 
    } 
}

.card-burst {
    position: fixed;
    animation : burst 0.6s linear forwards;
    z-index: 1000;
}

.card-popin {
    animation: popin 0.8s linear forwards;
}

@keyframes burst {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
